/* Search Box */
.search-container {
    background: var(--bg-color);
    padding: 5px 10px;
    border-radius: 5px;
    min-width: 200px;
    border: var(--color);
    color: var(--text-color-white);
}

.search-input {
    background: none;
    border: none;
    color: white;
    outline: none;
    width: var(--text-color-white);
}