/* Search Box */
.search-container {
    background: #333;
    padding: 5px 10px;
    border-radius: 5px;
    min-width: 200px;
    border: var(--color);
}

.search-input {
    background: none;
    border: none;
    color: white;
    outline: none;
    width: 120px;
}